.news-item {
/*    border-style: solid;
    border-width: 3px;
    border-radius: 4px;
    border-color: #333;*/
    max-height: 1600px;
    min-width: 800px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom-style: dashed;
    border-bottom-color: #333;
    border-bottom-width: 3px;
}

.news-pdf {
    border-style: solid;
    border-width: 3px;
/*    border-radius: 4px;#5C79FF
*/    border-color: #333;
}

.news-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.news-subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.sub-author {

}

.news-text {
    font-size: 16px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.news-pdf {
    margin-left:5%;
    margin-right:5%
}