.chart-row {
    min-height: 350px;
}

.chart-panel {
/*    border-style: solid;
    border-width: 1px;
    border-radius: px;
    border-color: #333;*/
    height: 100%;
    margin-left: 2%;
}

.symbol {
    width:20px;
    height:20px;
    margin-left:10%;
    margin-right:10px;
    float:left;
    border-style: solid;
    border-width: 1px;
}
.serieName {
    float:left;
    cursor:pointer;
}

.item {
    height:20px;
    clear:both;
    margin-top:1%;
    margin-bottom:1%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

input[type="checkbox"].search-filter{
    margin: 10px 10px 10px 10px;
}

#search-form .dropdown-menu > li > a{
    color: #333;
}

#search-form .dropdown-menu > li > a:hover{
    color: #fff;
}

mark {
    background: #9AFF9A;
    color: black;
}