#header{ 
    background-color: #333; 
}

#branding h1{ 
    color: #fff; 
}

.module h2, .module caption, .inline-group h2 { 
    background:#333; 
    color: #fff; 
}

a.section:link, a.section:visited { 
    color: #fff; 
}

#changelist-filter h2 {
    color: #fff;
}

h2 {
    color: #fff;
}