{% extends "incidents_nsir/base_nsir.html" %}

{% load i18n %}
{#{% load bootstrap_tags %}#}
{% load staticfiles %}
{% load custom_tags %}

{% block title %}Password Change Successful{% endblock title %}

{% block page_title %}
    <h3>Password Change Successful</h3>
{% endblock page_title%}

{% block content %}

<p>{% trans 'Your password was changed.' %}</p>

{% endblock %}
