{% extends "incidents_nsir/base_nsir.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}

<h3>{% trans 'Password reset complete' %}</h3>

<p>{% trans "Your password has been set." %}</p>

{% if not user.is_authenticated %}
    <p><a href="{{ login_url }}">{% trans 'Click here to log in' %}</a></p>
{% endif %}

{% endblock %}
